<div class="container">
    <div class="start-btn">
        <button class="button btn btn-primary" type="create" id="createLpBtn">Neues Modul erstellen +</button>
    </div>
    <hr>
    <section>
        <div class="history">
            <div class="card">
                <div class="card-header">
                    Letzte Module
                </div>
                <div class="card-body">
                    <ul>
                        <% data.learningPaths.forEach(lp=>{ %>
                            <li>
                                <button class="button btn btn-primary open" type="edit" id="edit<%= lp['lpid'] %>">
                                    <%= lp['title'] %>
                                </button>
                                <button class="button btn btn-primary delete" type="delete" id="delete<%= lp['lpid']%>">x</button>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>