<h1>
    <%= data.id%>
</h1>
<label for="lpName">Name</label>
<input type="text" id="lpName" value="<%=data.id%>" maxlength="30" size="20">
<button class="button" type="save" id="saveChanges">Lernpfad speichern</button>
