<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="setting">
                    <a href="#"> <img type="image" class="button setting-icon" id="settingsBtn" src="img/settings.svg" alt="settings.svg"> </a>
                </div>
            </div>
            <div class="col-9">
                <div class="colz-icon">
                    <a href="#" id="usernameText"></a>
                    <a href="#">
                        <img class="button" id="exportButton" src="img/export.svg">
                    </a>
                    <a href="#">
                        <img class="button" id="downloadButton" src="img/download.svg">
                    </a>
                    <a href="#">
                        <img type="image" class="button save-icon" id="homeBtn" src="img/home.svg" alt="home.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>