<header>
    <div class="headerWrap">
        <div class="headerButtonsLeft" id="headerButtonsLeft"">
            <div class="home">
              <div class="hoverBtnWrap">
                <img type="image" class="button headerButtonImg img-no-hover" id="homeBtn" src="img/favicon/favicon-round.svg" alt="home.svg">
                <img type="image" class="button headerButtonImg img-hover" id="homeBtn" src="img/favicon/favicon-round-hover.svg" alt="home.svg">
              </div>
              <div class="hoverBtnWrap">
                <img type="image" class="button headerButtonImg img-no-hover" id="userSettingsBtn" src="img/user.svg" alt="user.svg">
                <img type="image" class="button headerButtonImg img-hover" id="userSettingsBtn" src="img/user-hover.svg" alt="user.svg">
              </div>
              <a href="#" id="usernameText" class="button headerText">
                <%= data.nickname %>
              </a>
            </div>
        </div>
        <div class="userMessageDiv" id="userMessageDiv">
          <a href="#" id="userMessage" class="headerText"></a> 
        </div>
        <div class="headerButtonsRight" id="headerButtonsRight">
            <div class="colz-icon">

                <div class="hoverBtnWrap">
                  <!--<a href="#">-->
                  <img type="image" class="button headerButtonImg img-no-hover" id="lpSettingsBtn" src="img/settings.svg" alt="settings.svg" style="visibility:hidden"> 
                  <img type="image" class="button headerButtonImg img-hover" id="lpSettingsBtnHover" src="img/settings-hover.svg" alt="settings.svg" style="visibility:hidden"> 
                </div> 

                <div class="hoverBtnWrap" data-toggle="modal" data-target="#downloadPop">
                  <!--<a href="#" data-toggle="modal" data-target="#downloadPop">-->     
                    <img class="button headerButtonImg img-no-hover" src="img/download-header.svg">
                    <img class="button headerButtonImg img-hover" src="img/download-header-hover.svg">
                </div>

                <div class="hoverBtnWrap">
                  <a href="https://github.com/MarcelSchweitzer/Lernpfadplaner_Demokrateam"><img type="link" class="button headerButtonImg img-no-hover" src="img/github.svg" alt="github.svg"></a> 
                  <a href="https://github.com/MarcelSchweitzer/Lernpfadplaner_Demokrateam"><img type="link" class="button headerButtonImg img-hover" src="img/github-hover.svg" alt="github.svg"></a>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="modal fade" id="downloadPop" tabindex="-1" role="dialog" aria-labelledby="downloadPopLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadPopLabel">Herunterladen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modalButtons">
          <button type="button" id="downloadButton" class="btn btn-light modalBtn">JSON</button>
          <button type="button" id="exportButton" disabled ="true" class="btn btn-light modalBtn" data-dismiss="modal">PDF</button>
      </div>
    </div>
  </div>
</div>