<header>
    <div class="row head">
        <div class="col-5" style="padding:0px;">
            <div class="home">
              <img type="image" class="button save-icon" id="homeBtn" src="img/home.svg" alt="home.svg">
              <a href="#">
                <img type="image" class="button user-icon" id="userSettingsBtn" src="img/user.svg" alt="user.svg">
              </a>
              <a href="#" id="usernameText" class="button headerText">
                <%= data.nickname %>
              </a>
            </div>
        </div>
        <div class="col-1" style="padding:0px;">
        </div>
        <div class="col-4" id="userMessageDiv" style="padding:0px;">
          <a href="#" id="userMessage" class="headerText"></a> 
        </div>
        <div class="col-2" id="rightHeaderButtons" style="padding:0px;">
            <div class="colz-icon">
                <a href="#"  data-toggle="modal" data-target="#downloadPop">
                    <img class="button" src="img/download.svg">
                </a>
                
                <a href="#"> 
                  <img type="image" class="button setting-icon" id="lpSettingsBtn" src="img/settings.svg" alt="settings.svg" style="visibility:hidden"> 
                </a>
            </div>
        </div>
    </div>
</header>
<div class="modal fade" id="downloadPop" tabindex="-1" role="dialog" aria-labelledby="downloadPopLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadPopLabel">Herunterladen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modalButtons">
          <button type="button" id="downloadButton" class="btn btn-light modalBtn">JSON</button>
          <button type="button" id="exportButton" disabled ="true" class="btn btn-light modalBtn" data-dismiss="modal">PDF</button>
      </div>
    </div>
  </div>
</div>