<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="setting">
                    <a href="#"> <img type="image" class="button setting-icon" id="settingsBtn" src="img/settings copy.png" alt="settings.png"> </a>
                </div>
            </div>
            <div class="col-9">
                <div class="colz-icon">
                    <a href="#" id="usernameText">
                        <%= data.nickname %>
                    </a>
                    <a href="#">
                        <img class="button" id="exportButton" src="img/export.png">
                    </a>
                    <a href="#">
                        <img class="button" id="downloadButton" src="img/download-file.png">
                    </a>
                    <a href="#">
                        <img type="image" class="button save-icon" id="homeBtn" src="img/floppy-disk.png" alt="home.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>