<div class="container lpSettings">
    <h3>Lernpfad-Einstellungen</h3>
    <div class="setting-section">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <% if(data.learningpath.availableInteractivityTypes){ 
                    let key = Hallo;
                    %>
                <li class="nav-item">
                    <a class="nav-link active" id="<%= key %>-tab" data-toggle="tab" href="#<%= key %>" role="tab" aria-controls="<%= key %>" aria-selected="true">Globale</a>
                </li>
                <% }} %>
        </ul>

    </div>
</div>