<script src="js/viewScrispts/settings.js" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/css/settings.css" type="text/css">
</link>
<div class="container">
    <div class="cover-background">
        <div class="row setting-sec" >
        <img class="img-background" src="img/settings.png">
        <div class="col-md-12">
            <div class="material-group">
                <% if(data.lpSet == true){ %>
                <div>
                    <%- include('./lpSettings') %>
                </div>
                <% } %>
                <% if(data.userSet == true){ %>
                <div>
                    <%- include('./userSettings') %>
                </div>
                <% } %>
                <div class="profile-options">
                    <button class="button btn btn-success saveSettingsBtn" id="saveSettingsBtn"> Speichern </button>
                    <button class="button btn btn-success reset" id="reset"> Reset </button>
                </div>
            </div>
        </div>
        </div>
    </div>
    <br>
</div>
<div class="space"></div>
<script>
    $('#myTab a').on('click', function(e) {
        e.preventDefault()
        $(this).tab('show')
    });

</script>
<script >
$(document).ready(function() {
    $('#reset').click(function() {
    $('#myTabContent').find("input[type=text]").each(function() {
    $(this).val('');
   });
  });
});
    </script>
<!-- reset checkbox -->

