<script src="js/viewScrispts/settings.js" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/css/settings.css" type="text/css">
</link>
<div class="container">
    <div class="cover-background">
        <div class="row setting-sec" >
        <img class="img-background" src="img/settings.png">
            <div class="col-md-12">
                <% if(data.lpSet == true){ %>
                <div>
                    <%- include('./lpSettings') %>
                </div>
                <% } %>
                <% if(data.userSet == true){ %>
                <div>
                    <%- include('./userSettings') %>
                </div>
                <% } %>
                <div class="profile-options saveBtnDiv">
                    <button class="button btn btn-success saveSettingsBtn" id="saveSettingsBtn"> Speichern </button>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="space"></div>

