<link rel="stylesheet" href="/css/settings.css"></link>

<div class="container-fluild">
    <div class="cover-background">
        <div class="row setting-sec">
            <div class="img-background">
                <img class="gear_small rotate" src="img/gear_small.png">
                <img class="gear_mid rotate" src="img/gear_mid.png">
                <img class="gear_big rotate" src="img/gear_big.png">
            </div>
            <div class="col-md-12">
                <!--data.lpSet and data.userSet are set via function app.get with the paramater '/settings' in app.js
                the function is called right before this content is loaded-->
                <% if(data.lpSet == true){%>
                <div>
                    <%- include('./lpSettings') %> 
                </div>
                <% } %>
                <% if(data.userSet == true){ %>
                <div>
                    <%- include('./userSettings') %>
                </div>
                <% } %>
                <div class="profile-options saveBtnDiv">
                    <button class="button btn btn-success saveSettingsBtn" id="saveSettingsBtn"> Speichern </button>
                    <!--saveSettingsBtn id used in eventHandler to save the lp and get to the editor, if a lp is open, or to go to the dashboard otherwise-->
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="space"></div>

