<script src="js/viewScrispts/settings.js" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/css/settings.css" type="text/css">
</link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
    <div class="cover-background">
        <div class="row setting-sec" >
        <img class="img-background" src="img/settings.png">
        <div class="col-md-12">
            <div class="material-group">
                <% if(data.lpSet == true){ %>
                <div>
                    <%- include('./lpSettings') %>
                </div>
                <% } %>
                <% if(data.userSet == true){ %>
                <div>
                    <%- include('./userSettings') %>
                </div>
                <% } %>
                <div class="profile-options">
                    <button class="button btn btn-success" id="saveSettingsBtn"> Speichern </button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    $('#myTab a').on('click', function(e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>