<script src="js/viewScrispts/settings.js" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/css/settings.css" type="text/css"></link>

<div class="container-fluild">
    <div class="cover-background">
        <div class="row setting-sec">
        <img class="img-background" src="img/settings.png">
            <div class="col-md-12">
                <%//data.lpSet and data.userSet are set in the function app.get with the paramater '/settings' in app.js
                //the function is called right before this content is loaded%>
                <% if(data.lpSet == true){%>
                <div>
                    <%- include('./lpSettings') %> 
                </div>
                <% } %>
                <% if(data.userSet == true){ %>
                <div>
                    <%- include('./userSettings') %>
                </div>
                <% } %>
                <div class="profile-options saveBtnDiv">
                    <button class="button btn btn-success saveSettingsBtn" id="saveSettingsBtn"> Speichern </button> <%//saveSettingsBtn id used in eventHandler to save the lp and get to the editor, if a lp is open, or to go to the dashboard otherwise%>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="space"></div>

