<div class="container lpSettings">
    <div class="setting-section">
        <h3>Benutzereinstellungen</h3>
        <label for="userName">Benutzername</label>
        <input type="text" class="form-control" id="userNameInput" value="<%=data.nickname%>">
    </div>
</div>