<div class="material-group">
    <div class="container userSettings">
        <div class="setting-section">
            <div class="settingsItem" id="userNameInput">
                <h3>Benutzereinstellungen</h3>
                <label for="userName">Benutzername</label>
                <input type="text" class="form-control" id="userNameInput" value="<%=data.nickname%>">
            </div>
        </div>
    </div>
</div>