<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lernpfadplaner</title>
        <%- include('./partials/imports') %>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/fontawesome.min.css'>
      </link>
    </head>
    <body>
        <div class="center container-fluid">
            <div class="cover-background">
                <img class="img-background" src="img/settings.png">
        <div class="Wrapper">
            <%- include('./partials/header') %>
            <main id="main">
                <%- include('./partials/dashboard') %>
            </main>
            <%- include('./partials/footer') %>
        </div>
    </body>
</html>