<!DOCTYPE html>
<html>

    <head>

    </head>

    <body>
        <button type="button" id="settings">Einstellungen</button>
        <h1>
            Lernpfadplaner 
        </h1>
        <p>
            verfuegbare Module
        </p>
        <ul>
            <% data.learningPathNames.forEach(lp=>{ %>
                <li> 
                    <button type="button" id="open<%= lp %>"><%= lp %></button> 
                    <button type="button" id="delete<%= lp %>">x</button> 
                </li>
            <% }); %>
        </ul>
        <button type="button" id="createLp">Lernpfad erstellen</button>
    </body>

</html>