<!DOCTYPE html>
<html>

    <head>
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(document).ready(()=>{
                    $('.button').click(function() {
                        $.post( url="", data=$( this ).attr('id'), function( data ) {
                            alert( "data recieved from server: " + data );
                        });
                    });
                });
            </script>    
        </head>
    </head>

    <body>
        <button type="button" id="settings">Einstellungen</button>
        <h1>
            Lernpfadplaner 
        </h1>
        <p>
            verfuegbare Module
        </p>
        <ul>
            <% data.learningPathNames.forEach(lp=>{ %>
                <li> 
                    <button class="button" id="open<%= lp %>"><%= lp %></button>
                    <button class="button" id="delete<%= lp %>">x</button>  
                </li>
            <% }); %>
        </ul>
        <button type="create" id="createLp">Lernpfad erstellen</button>
    </body>

</html>