<!DOCTYPE html>
<html>

    <head>
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(document).ready(()=>{
                    $('.button').click(function(){

                        // handle open buttons
                        if(this.type = 'open'){
                            $.get('/learningPathEditor', { id : this.id } ).done(function(data, status){
                                var newDoc = document.open("text/html", "replace");
                                newDoc.write(data);
                                newDoc.close();
                            });

                        // handle delete buttons
                        }else if(this.type= 'delete'){

                        }
                    });
                });
            </script>    
        </head>
    </head>

    <body>
        <button class="button" id="settings">Einstellungen</button>
        <h1>
            Lernpfadplaner 
        </h1>
        <p>
            verfuegbare Module
        </p>
        <ul>
            <% data.learningPathNames.forEach(lp=>{ %>
                <li> 
                    <button class="button" type="open", id="<%= lp %>"><%= lp %></button>
                    <button class="button" type="delete", id="<%= lp %>">x</button>  
                </li>
            <% }); %>
        </ul>
        <button class="button" id="createLp">Lernpfad erstellen</button>
    </body>

</html>