<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/favicon/favicon2.png" sizes="256x256">
    <title>Lernpfadplaner</title>
    <link rel='stylesheet' type='text/css' href="css/main.css">
    </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
        integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' type='text/css'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/fontawesome.min.css'>
    </link>
</head>

<body>
    <div class="container-fluid">
        <div class="row landing">
            <div class="col-md-5">
                <div class="info-box">
                    <div class="box-title">
                        <h3>Lernpfadplaner</h3>
                        <p>
                            Plane mit dem Lernpfadplaner interaktives Lernmaterial ganz nach Deinen Vorstellungen.
                        </p>
                        <h3>Achtung</h3>
                        <p>
                            Der Lernpfadplaner befindet sich in der Beta-Phase. 
                            Die Sicherheit Deiner eingegebenen Daten kann nicht garantiert werden. 
                            Bitte verwende den Lernpfadplaner daher nicht, um sensible Informationen abzuspeichern.
                        </p>
                        <div class="profile-options">
                            <button class='btn primary-btn' onCLick="startClick()" style="color: white">Jetzt loslegen</button>
                            <script>
                                function startClick() {
                                    var pageURL = $(location).attr("href");
                                    dashboardUrl = pageURL.toString().replace("get_started", "");
                                    window.location.replace(dashboardUrl);
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="image-cover">
                    <img src="img/back.png">
                </div>

            </div>
        </div>
    </div>
    <div class="footer-parent">
        <div class="footer-img">
          <img src="img/shape-bg.png">
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"
    integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>