<!DOCTYPE html>
<html>

    <head>

    </head>

    <body>
        <button type="button" id="testBtn">Home</button>
        <h1>
            <%= data.currentModuleName %>
        </h1>
        <p>
            <%= data.currentModuleName %> wird bearbeitet! WOW, EIN TOLLER SERVICE!
        </p>
    </body>

</html>