.sidepanel {
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0,
    rgba(0, 0, 0, 0.06) 0 1px 2px 0;
  height: 35vh;
  margin-top: 60px;
  overflow: hidden;
  overflow-x: hidden;
  padding-bottom: 20px;
  width: 100%;
}

.sidepanel-second {
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0,
    rgba(0, 0, 0, 0.06) 0 1px 2px 0;
  height: 50vh;
  margin-top: 20px;
  overflow: scroll;
  padding-bottom: 20px;
}

.textInModal {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.interactivityListItem {
  max-width: 100%;
}

.HeaderInModal {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.midCol {
  margin-top: 20px;
  overflow-y: auto;
  width: 65%;
}

.inner-material {
  border: 1px solid #f7f7f7;
  height: 500px;
  width: 100%;
}

.workspace {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: inline;
  height: 100%;
  float: left;
  width: 100%;
}

.p5Canvas {
  height: 100%;
  width: 100%;
}

.coords {
  display: inline;
  margin-left: 5%;
  width: 30%;
}

.interactionSettings {
  background-color: #ffffff;
  display: none;
  float: left;
  height: 100%;
  overflow-y: auto;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}

.interactionItem {
  display: inline-block;
  width: 80%;
}

.sidepanel-first {
  overflow: scroll;
}

.interactivityPicker {
  margin: 5px;
}

.interactivityPicker::-webkit-scrollbar {
  display: none;
}

.interactivityList {
  margin: 5px;
  overflow: auto;
}

.interactivityList::-webkit-scrollbar {
  display: none;
}

.note {
  padding: 10px 36px 0 5px;
}

.note p {
  padding-top: 20px;
  text-align: center;
}

.note img {
  display: block;
  margin: 10px auto;
  opacity: 0.7;
  width: 40%;
}

.note img:hover {
  opacity: 1;
}

.btn-link {
  color: #000 !important;
  text-decoration: none !important;
}

.script {
  padding-right: 10px;
  width: 30px;
}

.taxonomy-part {
  text-align: center;
}

.rate-part {
  text-align: center;
}

.rate {
  display: flex;
  justify-content: center;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  color: #ccc;
  cursor: pointer;
  float: right;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  width: 1em;
}

.rate:not(:checked) > label:before {
  content: '★ ';
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.activity p {
  text-align: center;
}

/* text on notes */

.noteContainer {
  color: rgb(66, 66, 66);
  position: relative;
  text-align: center;
}

.interactivityCategory {
  color: #000;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
}

.note {
  overflow: hidden;
  position: relative;
}

.lpNotes {
  background-image: url(/img/post-it.png);
  background-size: cover;
  box-sizing: content-box;
  height: 100%;
  min-height: 150px;
  overflow-y: auto;
  padding-right: 17px;
  width: 100%;
}

.noteMaximize {
  bottom: 10px;
  position: absolute;
  right: 10px;
  width: 50px;
}

.lpNotesModal {
  background-image: url(/img/post-it.png);
  background-size: cover;
  height: 470px;
}

.scenarios {
  height: 90vh;
  margin-top: 40px;
}

.scrollable {
  overflow-x: hidden;
}

.card.scenario {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.scrollable::-webkit-scrollbar {
  width: 11px;
}

.scenarios::-webkit-scrollbar {
  width: 14px;
}

.scrollable::-webkit-scrollbar-track {
  border-radius: 2px;
  box-shadow: inset 0 0 5px black;
}

.scrollable::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 2px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.categoryBox {
  height: inherit;
  text-align: center;
  width: 100%;
}

.deleteIntBtn {
  width: 100%;
}

.overviewBtn {
  width: 85%;
}

.interactivityBox {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  margin: 5px 10px;
  overflow: hidden;
  padding: 2px;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 90%;
}

.selectedInteractivity {
  font-size: 14px;
  text-overflow: ellipsis;
  padding: 2px;
}

.inputImg button {
  background-color: #6da5f8;
  color: white;
  height: 38px;
}

.sidepanel {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 575px) {
  .col-2 {
    width: 100%;
  }

  .col-8 {
    width: 100%;
  }
}

.scenarioContr {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lpTitleInput {
  margin-right: 22px;
}

.scenarioHeaderInput {
  width: 33%;
}

.interactivityListElem {
  border-radius: 10px;
  height: auto;
  margin: 5px 10px;
  padding: 2px;
  text-align: center;
  width: 90%;
}

header {
  top: 0;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.tab {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  overflow: hidden;
}

.scenarioControllWrapper {
  display: flex;
  justify-content: space-between;
}

.scenarioControlls {
  padding: 10px;
}

.scenarioLeftControlls {
  width: 70%;
  justify-content: flex-start;
}

.scenarioRightControlls {
  justify-content: flex-end;
  height: 100%;
  width: 30%;
}

.lpNote {
  height: 100%;
}

.matWrap {
  display: flex;
  justify-content: center;
}

.materialUrl {
  border-bottom-right-radius: 0 0;
  border-top-right-radius: 0 0;
  justify-content: flex-start;
  width: 80%;
}

.input-group-append {
  justify-content: flex-end;
  width: 20%;
}

.copyBtnMaterialUrl {
  border-color: rgb(82, 82, 82);
}

.scenarioButtonWrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.scenarioBtn {
  height: 30px;
  margin-bottom: 10px;
  width: 30%;
}

#resetZoomBtn {
  justify-content: flex-start;
}

#fullScreenBtn {
  justify-content: flex-end;
}

#fullScreenWrap {
  position: absolute;
  z-index: 9999;
}

.canvasBtn {
  display: none;
}

hr.rounded {
  border-radius: 5px;
  border-top: 2px solid #bbb;
}

hr.dotted {
  border-top: 3px dotted #bbb;
}

.accordionWrap {
  display: flex;
  padding-top: 10px;
  width: 34%;
}

.rightScenarioHBtn {
  height: 30px;
}

.setItemCenter {
  width: 400px;
}
