.left-side {
    width: 15%;
    height: 85%;
    margin-top: 60px;
    background-color: #f7f7f7;
    border-radius: 5px;
    position: fixed;
}

.right-side {
    width: 15%;
    height: 85%;
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: #f7f7f7;
    border-radius: 5px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
}

.midCol {
    margin-top: 20px;
    width: 65%;
}

.material-group {
    margin-top: 40px;
}

.inner-material {
    width: 100%;
    height: 500px;
    border: 1px solid #f7f7f7;
}

.workspace {
    height: 100%;
    width: 80%;
    float: left;
    display: inline;
    background-color: #c59e1e;
}

.interactionSettings {
    height: 100%;
    width: 20%;
    float: left;
    display: inline;
    background-color: #bbb157;
}

.note {
    padding-top: 10px;
}

.note p {
    padding-top: 20px;
    text-align: center;
}

.note img {
    width: 40%;
    display: block;
    margin: 10px auto;
    opacity: 0.7;
}

.note img:hover {
    opacity: 1;
}

.btn-link {
    color: #000 !important;
    text-decoration: none !important;
}

.script {
    width: 30px;
    padding-right: 10px;
}

.rate-part {
    text-align: center;
}

.rate {
    display: flex;
    justify-content: center;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.activity p {
    text-align: center;
}


/* text on notes */

.noteContainer {
    position: relative;
    text-align: center;
    color: rgb(66, 66, 66);
}

.notesLeft {
    position: absolute;
    top: 8px;
    left: 16px;
}

.interactivityCategory {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    position: relative;
}

.note {
    height: 300px;
    overflow: hidden;
}

#lpNotes {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}

.categoryBox {
    width: 100%;
    text-align: center;
}

.interactivityBox {
    border-radius: 10px;
    height: 30px;
    width: auto;
    margin-top: 3px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(172, 172, 172);
    overflow: hidden;
    text-overflow: ellipsis;
}

.interactivityList {
    border-radius: 10px;
    height: 30px;
    width: auto;
    margin-top: 3px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(172, 172, 172)
}

.coords {
    float: left;
    display: inline;
}

.interactionSettings {
    text-align: center;
}

.interSet {
    width: 80%;
}