.nav-link {
    color: #1f2235;
}

.nav-link:hover {
    color: #1f2235;
}

.active {
    display: grid;
    grid-template-columns: repeat(8, 0fr);
    gap: 35px;
    background-color: white;
    padding: 40px 0px 0px 0px;
    font-size: 14px;
}

.sub-menu {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(4, 0fr);
    gap: 35px;
    padding: 40px 0px 0px 40px;
    font-size: 14px;
}