/*setings.ejs includes this stylesheet*/

/*used in lpSettings.ejs and userSettings.ejs*/
.setting-section {
  margin-top: 100px;
}

/*used in settings.ejs*/
.saveBtnDiv {
  margin-top: 50px;
}

.profile-options button {
  display: flex;
  flex-direction: row;
  display: block;
  margin: 10px auto;
  border: 2px solid linen !important;
  background-color: #1f2235 !important;
}

/*used in lpSettings.ejs*/
.tab-content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 300px;
}

/* additional used in eventHandler.js to add function to id "addTab" found in lpSettings.ejs*/
.tab-pane {
  display: flex;
  justify-content: space-between;
  columns: 90px 4;
}

.nav-item {
  font-size: 14px;
}

.customInput {
  width: 200px;
  margin: 5px;
}

.newCat {
  text-align: center;
  width: auto;
}

.nav-link {
  color: #1f2235;
}
