/*settings.ejs includes this stylesheet
this css is only used in settings.ejs, lpSettings.ejs and userSettings.ejs*/

/*used in lpSettings.ejs and userSettings.ejs*/
.setting-section {
  margin-top: 100px;
}

/*used in settings.ejs*/
.saveBtnDiv {
  margin-top: 50px;
}

.profile-options button {
  display: flex;
  flex-direction: row;
  display: block;
  margin: 10px auto;
  border: 2px solid linen !important;
  background-color: #1f2235 !important;
}

.row {
  margin: 5px;
}

.space {
  width: 100%;
  height: 100px;
}

.tab-pane label {
  font-size: 14px;
}

.settingsHeading {
  font-size: 20px;
}

.intChangeBtn {
  max-width: 30px;
  height: 20px;
  border-radius: 40px;
  margin-left: 5px;
}

.delIntIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
}

.nameIntIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
  height: 80%;
}

.modalText {
  font-size: 20px;
  text-align: center;
}

.catContent {
  justify-content: center;
}

.catNavWrapper {
  justify-content: center;
  display: flex;
  vertical-align: center;
}

/* additional used in eventHandler.js to add function to id "addTab" found in lpSettings.ejs*/

.nav-item {
  font-size: 14px;
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.newCat {
  text-align: center;
  width: auto;
}

.nav-link {
  color: #1f2235;
}

.tab-pane {
  width: 100%;
}

.newTypeWrap {
  display: flex;
  justify-content: center;
  width: 150px;
}

.flexInput {
  justify-content: center;
}

.newIntertypeName {
  border-top-right-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  width: 65%;
  border-color: rgb(255, 255, 255);
  border-width: 4px;
}

.newIntertypeName:focus {
  border-color: rgb(255, 255, 255);
}

.createNewInt {
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  background-color: white;
  border-color: rgb(255, 255, 255);
  border-width: 0px;
  width: 35%;
}

.itemWrap {
  display: block;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 300px;
  width: 100%;
}

.items {
  display: block;
  justify-content: space-between;
  columns: 90px 4;
}

.settingsItems {
  margin: 20px;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.customInput {
  width: 200px;
  margin: 5px;
  justify-content: center;
}

.saveBtnDiv button:hover {
  color: aliceblue !important;
  border: 2px solid #7dd1ff !important;
  background-color: #1f2235 !important;
}
